@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h2 class="display-5">To the ROV Holland I Video Archive</h2>
</div>
<!--
<div class="text-center rov-image">
    <img src='@Url.Content("/images/holland-marine-rov.jpg")' class="rounded" alt="ROV Holland I" height="200" width="200">
</div>
-->
<div class="text-center">
    <p><a class="navbar-brand" asp-area="" asp-page="/Hollands/Index">Video Archive</a></p>
</div>
